---
layout: default
title: 继小鹏的前端博客 | 热爱编程，关注前端开发技术
---

<div id="container" class="clearfix">
	<main id="main" class="hfeed">
		<ul>
			{% for post in paginator.posts %}
			　　<li class="entry_list">
					<a href="{{ site.baseurl }}{{ post.url }}">
						<h2 class="entry-title">{{ post.title }}</h2>
						<div class="entry-meta">{{ post.date | date_to_string }}</div>
					</a>
				</li>
			{% endfor %}
		</ul>

		<!-- 分页链接 -->
	    {% if paginator.total_pages > 1 %}
	        {% if paginator.previous_page %}
	            <a href="{{ paginator.previous_page_path }}">上一页</a>
	        {% endif %}

	        {% if paginator.next_page %}
	            <a href="{{ paginator.next_page_path }}">下一页</a>
	        {% endif %}
	    {% endif %}
	    <!-- 分页链接 -->

	</main>
	<div class="sidebar" id="sidebar">
		<div id="sidebar-top">
			<aside class="widjhuh">
				<h3 class="widget-title">最新文章</h3>
				<ul class="minty_thumblist">
					<li>
						<a href="">
							<img src="" alt="">
							<span>哈哈哈</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="" alt="">
							<span>哈哈哈</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="" alt="">
							<span>哈哈哈sss </span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="" alt="">
							<span>哈哈哈</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="" alt="">
							<span>哈哈哈</span>
						</a>
					</li>
				</ul>
			</aside>
		</div>

		<div id="sidebar-top">
			<aside class="widjhuh clearfix">
				<h3 class="widget-title">分类目录</h3>
				<ul class="minty_thumblist minty_thumblist_a">
					{% for category in site.categories %}
					<li>
						<a href="/categories/{{ category | first }}/" title="view all
posts">
							{{ category | first }} ({{ category | last | size }})
						</a>
					</li>
					{% endfor %}
				</ul>
			</aside>
		</div>

	</div>
</div>
<h2>{{ page.title }}</h2>


<h4>Category</h4>
<ul>
    {% for category in site.categories %}
    <li><a href="/categories/{{ category | first }}/" title="view all
posts">{{ category | first }} {{ category | last | size }}</a>
    </li>
    {% endfor %}
</ul>



