---
layout: default
title: 继小鹏的前端博客 | 热爱编程，关注前端开发技术
---

<div id="container" class="clearfix">
	<main id="main" class="hfeed">
		<ul>
			{% for post in paginator.posts %}
			　　<li class="entry_list">
					<a href="{{ site.baseurl }}{{ post.url }}">
						<h2 class="entry-title">{{ post.title }}</h2>
						<div class="entry-meta">{{ post.date | date: '%Y-%m-%d' }} <span class="dot">•</span>{{ post.category }}<span class="dot">•</span>继小鹏</div>
						<div class="entry-summary">
			              <p>
			                {{ post.excerpt }}
			              </p>
			            </div>
					</a>
				</li>
			{% endfor %}
		</ul>

		<div class="paginator_po">
			<!-- 分页链接 -->
		    {% if paginator.total_pages > 1 %}
		        {% if paginator.previous_page %}
		            <a href="{{ paginator.previous_page_path }}">上一页</a>
		        {% endif %}

		        {% if paginator.next_page %}
		            <a href="{{ paginator.next_page_path }}">下一页</a>
		        {% endif %}
		    {% endif %}
		    <!-- 分页链接 -->
		</div>



	</main>
	{% include sidebar.html %}
</div>



<!-- <h2>{{ page.title }}</h2>


<h4>Category</h4>
<ul>
    {% for category in site.categories %}
    <li><a href="/categories/{{ category | first }}/" title="view all
posts">{{ category | first }} {{ category | last | size }}</a>
    </li>
    {% endfor %}
</ul> -->



