<div class="sidebar" id="sidebar">
	<div class="sidebar-top">
		<aside class="widjhuh">
			<h3 class="widget-title">最新文章</h3>
			<ul class="minty_thumblist">
				{% for post in site.related_posts limit:6 %}
                  <li>
                    <a href="{{ post.url }}">

                    	<span>{{ post.title }}</span>
                    </a>
                  </li>
				{% endfor %}
			</ul>
		</aside>
	</div>

	<div class="sidebar-top">
		<aside class="widjhuh clearfix">
			<h3 class="widget-title">最近访客</h3>
			<ul class="minty_thumblist minty_thumblist_a ds-recent-visitors visitorsopi" data-num-items="20" data-avatar-size="38">

			</ul>

		    <!--多说js加载开始，一个页面只需要加载一次 -->
		    <script type="text/javascript">
		    var duoshuoQuery = {short_name:"huanghuanlian"};
		    (function() {
		        var ds = document.createElement('script');
		        ds.type = 'text/javascript';ds.async = true;
		        ds.src = 'http://static.duoshuo.com/embed.js';
		        ds.charset = 'UTF-8';
		        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
		    })();
		    </script>
		    <!--多说js加载结束，一个页面只需要加载一次 -->

		</aside>
	</div>

	<div class="sidebar-top">
		<aside class="widjhuh clearfix">
			<h3 class="widget-title">分类目录</h3>
			<ul class="minty_thumblist minty_thumblist_a">
				{% for category in site.categories %}
				<li>
					<a href="/categories/{{ category | first }}/" title="view all
posts">
						{{ category | first }} ({{ category | last | size }})
					</a>
				</li>
				{% endfor %}
			</ul>
		</aside>
	</div>


	<div class="sidebar-top">
		<aside class="widjhuh clearfix">
			<h3 class="widget-title">标签目录</h3>
			<div class="tagcloud" id="tagcloud">
				{% for tag in site.tags %}
					<a href="/tag/{{ tag | first }}/" title="view all
posts">
						{{ tag | first }}
					</a>
				{% endfor %}
			</div>

		</aside>
	</div>

	<div class="sidebar-top">
		<aside class="widjhuh clearfix">
			<h3 class="widget-title">友情链接</h3>
			<ul class="minty_thumblist minty_thumblist_a">

				<li>
					<a href="http://blog.csdn.net/u013861109?viewmode=contents" target="blank">
						csdn博客
					</a>
				</li>
				<li>
					<a href="http://www.imooc.com/" target="blank">
						慕课网
					</a>
				</li>
				<li>
					<a href="http://www.dglives.com/" target="blank">
						数字生活前端
					</a>
				</li>
				<li>
					<a href="http://www.jianshu.com/" target="blank">
						简书
					</a>
				</li>
				<li>
					<a href="http://www.runoob.com/" target="blank">
						菜鸟
					</a>
				</li>
				<li>
					<a href="http://www.qdfuns.com/" target="blank">
						前端网
					</a>
				</li>
			</ul>
		</aside>
	</div>

	<div class="sidebar-top">
		<aside class="widjhuh clearfix">
			<h3 class="widget-title">QQ交流群</h3>
			<img style="margin-top: 10px; box-shadow: none;" src="{{ '/assets/images/ertw.png' | prepend: site.baseurl }}">
		</aside>
	</div>


	<script>
	var box=document.getElementById("tagcloud").getElementsByTagName("a");
	for(var i=0;i<box.length;i++){
		var a =Math.round(Math.random()*20)/10;
		box[i].style.fontSize=a+'em';
	}
	</script>

</div>