---
layout: default
---


<div id="container" class="clearfix">
	<main id="main" class="hfeed">
		<article id="post-157" class="post-157 hentry">
			<header class="entry-header">
				<h1 class="entry-title">{{ page.title }}</h1>
				<div class="entry-meta">{{ page.date | date: '%Y-%m-%d' }} <span class="dot">•</span>{{ page.category }}<span class="dot">•</span>继小鹏</div>
			</header>
			<article class="post-content">
              {{ content }}
            </article>
		</article>
	</main>
	{% include sidebar.html %}
</div>